@model List<Student>
<a href="/subjects" class="waves-effect waves-light btn" style="background-color: blue">Back to subjects</a>
<h1>Students</h1>

<a href="/students/create" class="waves-effect waves-light btn">Add student</a>
<form>
    Search: <input type="text" id="query" name="query" />
    <button type="submit" class="btn">Search</button>
</form>
<table style="color: #fff" class="striped">
    <thead>
        <tr>
            <th>First name</th>
            <th>
                <form>
                    Last name
                </form>
            </th>
            <th>Email</th>
            <th>Address</th>
            <th>Index number</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var st in Model)
        {
            <tr>
                <td>@st.FirstName</td>
                <td>@st.LastName</td>
                <td>@st.Email</td>
                <td>@st.Address</td>
                <td>@st.IndexNumber</td>
                <td><a href="/students/delete/?IndexNumber=@st.IndexNumber" class="waves-effect waves-light btn" style="background-color: red">X</a></td>
            </tr>
        }
    </tbody>
</table> 